<h1>Help</h1>
<p>
  Get help on the Sanarinfo Application at the
  <a href="http://www.sanarinfo/#help">Sanarinfo.com application website</a>.
  To get help on this web application, see the
  <a href="http://www.sanarinfo.com/book"><em>Sanarinfo, the news platform for Senegal and it's Diaspora</em>
  book</a>.
</p>