<h1>Sanarinfo</h1>
<p>
  This is the home page for the
  <a href="http://www.sanarinfo.com">Sanarinfo is web platform news for Senegal people to subscribe to from around the web</a>
  Sanarinfo sample Application.
</p>